/* Animações */

.fade-in {
    opacity: 0;
    animation: fadeIn ease-in 1;
    animation-fill-mode: forwards;
    animation-duration: 1.1s;
    animation-delay: 5s;
  }

  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    50% {
        opacity: 5;
      }
    100% {
      opacity: 10;
    }
  }

  @keyframes animacao{

    0% {color: #0d41eb;font-size: auto;}
    10% {color: #0d41eb;font-size: 40px;}
    30% {color: #0d41eb;font-size: 50px;}
    50% {color: #0d41eb;font-size: 55px;}
    70% {color: #c7110e;font-size: 30px;}
    90% {color: #c7110e;font-size: 15px;}
    60% {color: #c7110e;font-size: 13px;}
    65% {color: #c7110e;font-size: 55px;}
    70% {color: #c7110e;font-size: 60px;}
    75% {color: #c7110e;font-size: 70px;}
    80% {color: #c7110e;font-size: 75px;}
    80% {color: #c7110e;font-size: 78px;}
    90% {color: #c7110e;font-size: 80px;}
  }