body {
    color: white;
    background: black url('img/tec.jpg') no-repeat center center fixed;
    background-size: cover;
    font-family: OCR A Std, monospace
}

@font-face {
    font-family: face;
    src: url("https://www.w3.org/Style/Examples/007/fonts.pt_BR.ttf");
}

ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
    padding: 16px;
}

a {
    color: rgb(0, 0, 0);
    text-decoration: none;
}

p {
    color: rgb(0, 0, 0);
    text-align: center;
    text-decoration: none;
    font-size: 22px;
    font-family:  Courier New, monospace
}

header {
    position: relative;
}
header img{
    width: 350px;
    height: 380px;
    border-radius: 50%;
    border: 5px solid #0612b3;
}

.center {
    text-align: center;
}

h1 {
    color: #0612b3;
    text-align: center;
    animation-name: animacao;
    animation-duration: 3.5s;
    animation-delay: 2s;

}

h2 {
    color: #000000;
    text-align: center;
}

h3 {
    color: #0612b3;
    text-align: center;
    font-size: 38px;
    font-weight: bold;
    font-family: Courier New, monospace
    
}

h4 {
    color: #b30606;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    font-family: Courier New, monospace
    
}

h5 {
    color: #000000;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    font-family: Courier New, monospace
}

.redes img {
    width: 40px;
    height: 40px;
}

.redes {
    display: flex;
    justify-content: center;
}

.redes a {
    margin: 10px;
    text-align: center;
}

.redes p {
    margin-top: 0px;
}
.container {
    padding: 5px 30px;
    align-items: center;
    text-align: center;
}

.container p{
    margin-top: 1px;
    text-align: center;
}

.container {
    opacity: 0.5;
    margin: 20px;
    text-align: center;
}

.container > nav> ul > li > a {
    margin: 20px;
}

.container > nav> ul > li > a > img{
    margin: 20px;
    text-align: center;
    transition-duration: 0.7s;
    opacity: 1.5;
    width: 40px;
    height: 40px;
    opacity: 0.5;
}

.container > nav> ul > li > a > img:hover{
    opacity: 1.0;
    scale: 3.2;
}

nav a {
    font-size: 10px;
}

/* Contact */
.contact-form input{
    width: 100%;
    padding: 8px 0;
    margin: 8px 0;
}

.contact-form input[type=text] {
    height: 100px;
}

button {
    color: black;
    background-color: white;
    border: none;
    width: 100px;
    height: 30px;
}