@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');  
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;1,100&display=swap');

.filmesPrincipais{
    background: #8c0005;
    background: linear-gradient(90deg, #8c0005 12%, #0d0f36 50%, #0d0f36 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#b03af1",endColorstr="#6016a7",GradientType=1);
    display: grid;
    grid-template-rows: auto auto auto auto 1fr;
    grid-template-columns: repeat(12 1fr);
    height: 100%;
    width: 100%;
    gap: 48px;
}
img, .atropos{
    width: 400px;
    height: auto;
    border-radius: 16px;
}
.filmesPrincipais_title{
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 2rem;
    padding-top: 40px;
    grid-row-start: 1;
    grid-column: 1/12;
}
.my-atropos{
    grid-row: 3;
    grid-column: 2/5;
}
.my-atropos_2{
    grid-row: 3;
    grid-column: 5/8;
}
.my-atropos_3{
    grid-row: 3;
    grid-column: 8/11;
}
.my-atropos_4{
    grid-row: 4;
    grid-column: 2/5;
}
.my-atropos_5{
    grid-row: 4;
    grid-column: 5/8;
}
.my-atropos_6{
    grid-row: 4;
    grid-column: 8/11;
}

@media only screen and (max-width: 800px){
    .filmesPrincipais{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
@media only screen and (min-width:800px ) and (max-width: 1366px){
    .filmesPrincipais{
        display: grid;
        grid-template-columns: repeat(6 1fr);
        grid-template-rows: auto auto auto 1fr;
    }
    .filmesPrincipais_title{
        grid-column: 1/8;
        grid-row: 1;
        text-align: center;
    }
    .my-atropos{
        grid-row: 2;
        grid-column: 2/5;
    }
    .my-atropos_2{
        grid-row: 4;
        grid-column: 2/5;
    }
    .my-atropos_3{
        grid-row: 2;
        grid-column: 5/8;
    }
    .my-atropos_4{
        grid-row: 3;
        grid-column: 2/5;
    }
    .my-atropos_5{
        grid-row: 4;
        grid-column: 5/8;
    }
    .my-atropos_6{
        grid-row: 3;
        grid-column: 5/8;
    }
    
}