@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');  
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;1,100&display=swap');

header{
    background-image: url(../images/filmes.png);
    display: grid;
    background-size: cover;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(6, 1fr);
    font-family: 'Poppins', sans-serif;

}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    grid-row-start: 1;
    grid-column: 1/13;
    font-family: 'Poppins', sans-serif;
}
li{
    display: inline-block;
    margin-right: 8px;
    color: white;
}
a{
    text-decoration: none;
    color: white;
    font-size: 21px;
}
.logo{
    width: 70px;
    height: 70px;
}
.logo_div{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100px;
}
h6{
    font-size: 21px;
    font-style: initial;
    color: white;
    font-family: 'Bebas Neue', cursive;

}
.home{
    color: #fcf7d1;
}
hr{
    display: flex;
    margin-top: 1px;
    border-color: #fcf7d1;
}
h1{
    grid-row-start: 3;
    grid-column: 2/6;
    font-size: 40px;
    color: white;
}
h2{
    font-weight: 300;
    font-size: 18px;
    grid-row-start: 4;
    grid-column: 2/8;
    color: white;
}
.btn{
    grid-row-start: 5;
    grid-column-start: 2;
    display: flex;
}
.btn_start{
    background-color: #8c0005;
    width: 200px;
    height: 50px;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition-duration: 0.5s;
}

.btn_start:hover{
    scale: 1.2;
    padding: 10px;
}

.btn_plan{
    background-color: #0d0f36;
    width: 200px;
    height: 50px;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition-duration: 0.5s;
}

.btn_plan:hover{
    scale: 1.2;
    padding: 10px;
}

@media only screen and (max-width: 800px){
    .menu_links{
        display: none;
    }
    h1{
        font-size: 24px;
    }
    h2{
        font-size: 14px;
    }
    .btn_start, .btn_plan{
        width: 100px;
        height: 50px;
    }
}