.container {
    width: 1000px;
    height: 700px;
    margin: auto;
    display: flex;
    justify-content: space-around;
    margin-top: 0%;
    background-color: rgb(38, 255, 0);
}

.vermelho {
    background-color: rgb(255, 0, 0);
    width: 300px;
    height: 300px;
    margin-top: 10%;
}

.amarelo {
    background-color: rgb(255, 255, 0);
    width: 300px;
    height: 300px;
    margin-top: 10%;
}

.verde {
    background-color: rgb(6, 255, 159);
    width: 300px;
    height: 300px;
    margin-top: 10%;
    
}