body {
    background-color: brown;

}

p {
    color: white;
    font-size: 22px;
    font-family: 'Times New Roman', Times, serif;
    
    
}

.pcor1 {
    color: rgb(255, 255, 255);

}
.pcor2 {
    color: rgb(3, 96, 139);

}
.pcor3 {
    color: rgb(133, 0, 0);

}

.p1 {
    text-align: left;
}

.p2 {
    text-align: center;
}

.p3 {
    text-align: right;
}